.markdown-content {
    /* font-family: "Noto Sans JP", sans-serif; */
    font-family: Arial, sans-serif;
    line-height: 1.75;
}

.markdown-content h1,
.markdown-content h2,
.markdown-content h3,
.markdown-content h4,
.markdown-content h5,
.markdown-content h6 {
    margin: 1em 0 0.5em;
    font-weight: bold;
    line-height: 1.25;
}

.markdown-content h1 {
    font-size: 1.5em;
    padding-bottom: 0.3em;
}

.markdown-content h2 {
    font-size: 1.3em;
    padding-bottom: 0.2em;
}

.markdown-content h3 {
    font-size: 1.2em;
}

.markdown-content ul {
    margin: 0;
    padding-left: 20px;
    list-style-type: disc;
}

.markdown-content ol {
    margin: 0;
    padding-left: 20px;
    list-style-type: decimal;
}

.markdown-content li {
    margin-bottom: 0.5em;
}

.markdown-content a {
    color: #4855e5;
    text-decoration: none;
}

.markdown-content a:hover {
    text-decoration: underline;
}

.markdown-content blockquote {
    margin: 1em 0;
    padding-left: 1em;
    border-left: 4px solid #ddd;
    color: #666;
    font-style: italic;
}

.markdown-content code {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 2px 4px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.95em;
}

.markdown-content pre {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    overflow-x: auto;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.95em;
}

.markdown-content hr {
    border: none;
    border-top: 1px solid #eee;
    margin: 2rem 0;
}