@import 'tailwindcss';

:root {
    --color-bg-default: #ffffff;
    --color-bg-muted-value: #f5f5f5;

    --color-text-default: #1f1f1f;
    --color-text-muted-value: #7b7b7b;

    --color-border-default: #d4d4d4;
    --color-border-muted-value: #ececec;

    --color-button-value: #000000;
}

@theme inline {
    --color-bg: var(--color-bg-default);
    --color-bg-muted: var(--color-bg-muted-value);

    --color-text: var(--color-text-default);
    --color-text-muted: var(--color-text-muted-value);

    --color-border: var(--color-border-default);
    --color-border-muted: var(--color-border-muted-value);

    --color-button: var(--color-button-value);
}

body {
    background-color: var(--color-bg-default);
    color: var(--color-text-default);
    font-family: Arial, sans-serif;
}
